<div>
  <div>
    <div class="p-mt-6 p-px-6">
      <h2 class="p-text-normal">
        <i class="p-mr-2 pi pi-user header-icon"></i> Recommended for you
      </h2>
    </div>
    <div class="carousel-bg">
      <p-carousel [value]="recommended"
                  [responsiveOptions]="responsiveOptions"
                  [circular]="true"
                  [showIndicators]="false"
                  *ngIf="!loadingRecommended; else recommendedSkeleton"
      >
        <ng-template let-book pTemplate="item">
          <app-book-cover [book]="book"></app-book-cover>
        </ng-template>
      </p-carousel>
      <ng-template #recommendedSkeleton>
        <p-skeleton width="100%" height="410px"></p-skeleton>
      </ng-template>
    </div>
  </div>
  <div>
    <div class="p-mt-6 p-px-6">
      <h2 class="p-text-normal">
        <i class="p-mr-2 pi pi-star-o header-icon"></i> Top rated
      </h2>
    </div>
    <div class="carousel-bg">
      <p-carousel [value]="topRated"
                  [responsiveOptions]="responsiveOptions"
                  [circular]="true"
                  [showIndicators]="false"
                  *ngIf="!loadingTopRated; else topRatedSkeleton"
      >
        <ng-template let-book pTemplate="item">
          <app-book-cover [book]="book"></app-book-cover>
        </ng-template>
      </p-carousel>
      <ng-template #topRatedSkeleton>
        <p-skeleton width="100%" height="410px"></p-skeleton>
      </ng-template>
    </div>
  </div>

</div>
