<div class="p-grid p-mx-0 p-justify-center centered-grid">
  <div class="p-col-12 p-sm-9 p-md-6 p-lg-4">
    <div class="p-text-center heading">
      <h1><i class="pi pi-lock"></i> UNDER CONSTRUCTION <i class="pi pi-key"></i></h1>
    </div>
    <p-card class="login-card">
      <div class="p-card-header">
        <div class="p-d-flex p-justify-center">
          <h1 class="p-mt-1 p-mb-3 p-text-light">Login</h1>
        </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="p-card-content">
          <div class="p-grid p-px-5">
            <div class="p-col-12 p-mt-2">
              <span class="p-float-label">
                <input type="text"
                       id="email"
                       name="email"
                       autocomplete="off"
                       autofocus
                       formControlName="email"
                       pInputText>
                <label for="email">Email</label>
              </span>
            </div>
            <div class="p-col-12 p-mt-2">
            <span class="p-float-label">
              <p-password id="password"
                          [feedback]="false"
                          formControlName="password"
                          [style]="{width: '100%'}"
                          [inputStyle]="{width: '100%'}"
              ></p-password>
              <label for="password">Password</label>
            </span>
            </div>
          </div>
        </div>
        <div class="p-card-footer p-px-5">
          <div class="p-d-inline-block p-mr-auto p-ai-center" [style]="{width: '160px'}">
            <a routerLink="/registration">Sign up</a>
          </div>
          <button class="p-d-inline-block login-btn blue-button"
                  *ngIf="!loading; else loadingSpinner"
                  type="submit"
                  label="Login"
                  pButton
          ></button>
          <ng-template #loadingSpinner>
            <p-progressSpinner class="p-d-inline-block login-btn" [style]="{width: '30px', height: '30px'}">
            </p-progressSpinner>
          </ng-template>
        </div>
      </form>
    </p-card>
  </div>
</div>
