<p-dialog
  [modal]="true"
  [header]="'Change password'"
  [(visible)]="isChangePasswordDialogOpen"
  (onHide)="onHideChangePasswordDialog()"
  [resizable]="false"
  [style]="{ width: '25vw', height: '390px' }"
>
  <div class="change-password-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <span class="p-field p-fluid p-float-label p-mt-5">
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          formControlName="oldPassword"
          pInputText
        />
        <label for="oldPassword">Old password</label>
      </span>
      <span class="p-field p-fluid p-float-label p-mt-5">
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          formControlName="newPassword"
          pInputText
        />
        <label for="newPassword">New password</label>
      </span>
      <span class="p-field p-fluid p-float-label p-mt-5">
        <input
          type="password"
          id="repeatedPassword"
          name="repeatedPassword"
          formControlName="repeatedPassword"
          pInputText
        />
        <small
          id="passwords-not-matching"
          class="p-error"
          *ngIf="
            !changePasswordForm.controls['repeatedPassword'].valid &&
            changePasswordForm.controls['repeatedPassword'].dirty
          "
          >Passwords do not match.</small
        >
        <label for="repeatedPassword">Repeate new password</label>
      </span>
      <button
        type="submit"
        id="changePassword"
        class="p-button blue-button p-d-block p-ml-auto p-mt-4"
        label="Change password"
        pButton
      ></button>
    </form>
  </div>
</p-dialog>
