<div class="navbar p-grid p-justify-between p-px-3 p-mx-0">
  <div class="p-col-2 p-p-0 p-col-align-center p-d-none p-d-sm-flex p-ai-center logo-col">
    <a routerLink="/" class="logo p-my-0">ibar</a>
    <span class="p-input-icon-left search-bar p-d-none p-d-xl-inline-block"
          *ngIf="hasSearch"
    >
      <i class="pi pi-search"></i>
      <input type="text"
             placeholder="Search"
             [(ngModel)]="searchQuery"
             (keyup)="setSearchQuery($event)"
             pInputText
             id="search-input"
      >
    </span>
  </div>
  <div class="p-col-8 p-xl-4 p-text-center p-p-0">
    <button *ngFor="let item of navbarItems"
            class="p-button-text topnav-button p-px-4"
            routerLinkActive="activated"
            [class.activated]="item.activeFunction"
            [routerLink]="item.routerLink"
            [icon]="item.icon"
            pButton
    ></button>
  </div>
  <div class="p-col-2 p-justify-end p-ai-center p-col-align-center p-p-0">
    <div *ngIf="isLoggedIn(); else signIn">
      <div [style]="{float: 'right'}">
        <p-chip [label]="userRankName" *ngIf="isReader"></p-chip>
        <p-menu class="user-menu" [model]="menuItems" [popup]="true" #menu></p-menu>
        <p-avatar class="ng-avatar p-ml-3"
                  [label]="initials"
                  (click)="menu.toggle($event)"
                  shape="circle"
                  id="avatar"
        >
        </p-avatar>
      </div>
    </div>
    <ng-template #signIn>
      <button class="p-button p-d-block blue-button p-ml-auto"
              (click)="onClickSignIn()"
              label="Sign in"
              pButton
      ></button>
    </ng-template>
    <app-change-password
      [isChangePasswordDialogOpen]="isChangePasswordDialogOpen"
      (closeDialog) = "closeDialog()"
    ></app-change-password>
  </div>
</div>
