<div class="plan p-pb-1">
  <h3 class="plan-title">
    {{plan.name}}
  </h3>
  <div class="plan-cost"><span class="plan-price">{{plan.price}}€</span><span class="plan-type">/ {{plan.dayDuration}} days</span></div>
  <ul class="plan-features">
    <li><i class="pi pi-check-circle"> </i>
      Books from:
      <ng-container *ngFor="let categoryName of plan.categoryNames">
        {{categoryName}}
      </ng-container>
    </li>
    <li><i class="pi pi-check-circle"> </i>
      Only for users ranked <p-tag class="p-mr-1" [value]="plan.rankName"></p-tag>
    </li>
    <li><i class="pi pi-info-circle"> </i>{{plan.description}}</li>
  </ul>
  <div class="plan-select"><a (click)="confirmPlan()">Select Plan</a ></div>
  <small class="p-text-light">No refunds guaranteed</small>
</div>
